<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="businessObject" class="fr.univartois.ili.sadoc.sadocweb.springbidon.BusinessObjectImpl">
		<property name="valeur" value="12345" />
	</bean>
	<bean id="serviceObject2" class="fr.univartois.ili.sadoc.sadocweb.springbidon.ServiceObjectImpl2">
		<property name="businessObject" ref="businessObject" />
	</bean>
	<bean id="serviceObject3" class="fr.univartois.ili.sadoc.sadocweb.springbidon.ServiceObjectImpl3">
		<constructor-arg ref="businessObject" />
	</bean>



</beans>
