body, html{
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
background-color: #fafafa ;
}

.header{
background: url(../img/header.png);
width: 100%;
height: 65px;
padding: 5px 0px 5px 0px;
text-align: center;
}

.header h1{
margin: 0px 0px 0px 0px ;
padding: 10px ;
text-shadow: 2px 2px 4px #fff;
color: #444	;
display: inline ;
font-size: 17px ;
font-family: Arial, Helvetica, sans-serif;
}

.inscription{
	width: 400px ;
	border: 1px solid #eee ;
	margin: auto ;
	margin-top: 80px ;
	padding: 50px 20px 50px 20px ;
	height: 350px ;
	border: 1px solid #97b3bd ;
	background: url(../img/inscription.png);

	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;

	-moz-box-shadow:    1px 1px 3px 3px #ccc;
	-webkit-box-shadow: 1px 1px 3px 3px #ccc;
	box-shadow:         1px 1px 3px 3px #ccc;
}

.inscription form{
text-align: center ;
}


input{
background-color: #fff;
-webkit-border-radius: .3em;
-moz-border-radius: .3em;
border-radius: .3em;

-webkit-box-shadow:0 0 2px #aaa ;
-moz-box-shadow:0 0 2px #aaa ;
box-shadow:0 0 2px #aaa ;

border: none ;
width: 316px ;
height: 27px ;
margin: 15px 0;
color: #ccc ;
padding: 0 0 0 10px ;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2em;
letter-spacing: 2px ;

margin: 15px 0px 20px 0px ;
clear: both ;


}

input:focus {  
	-webkit-box-shadow: 0px 0px 5px #007eff;  
	-moz-box-shadow: 0px 0px 5px #007eff;  
	box-shadow: 0px 0px 5px #007eff;  
	color: #666;

}

.button{
	border: 1px solid #666 ;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold ;
	width: 120px;
	margin: 15px 0px 0px 0px ;
	color: #555 ;
	background: url(../img/button.png);
	height: 30px ;
	
-moz-box-shadow:    0px 0px 2x 1px #888;
-webkit-box-shadow: 0px 0px 2px 1px #888;
box-shadow:         0px 0px 2px 1px #888;
}

.button:active{
-moz-box-shadow:    none;
-webkit-box-shadow: none;
box-shadow:         none;
}


.button::-moz-focus-inner {
  border: 0;
}
