* {
	padding: 0;
	margin: 0;
}

body,html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fafafa;
	font-family: Arial, Helvetica, sans-serif;
}

.wrap {
	min-height: 100%;
	margin-bottom: -40px;
}

.wrap_header {
	width:100%;
	
}

.header {
	background: url(../img/header.png);
	width: 100%;
	height: 65px;
	padding: 5px 0px 5px 0px;
	text-align: center;
}

.header h1 {
	margin: 0px 0px 0px 0px;
	padding: 10px;
	text-shadow: 2px 2px 4px #fff;
	color: #444;
	display: inline;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
}

.wrap_footer {
	background: #bbdce9;
	width: 100%;

	text-align: center;
	

	height: 40px;
	clear:both;
}

.wrap_footer h1 {
	margin: 0px 0px 0px 0px;
	padding-top: 20px;
	text-shadow: 2px 2px 4px #fff;
	color: #444;
	display: inline;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.wrap_footer a {
	text-shadow: 2px 2px 4px #fff;
	color: #444;
	display: inline;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #993300;
	text-decoration: none;
}

#wrapper {
	width: 80%;
	margin: 30px auto 0px auto;
}



.place_footer{
	height:60px;
	
}


.main_menu {
	border-bottom: 1px solid #0089BD;
	font-size: 18px;
	color: #0089bd;
	font-weight: bold;
	padding: 0px 0px 5px 0px;
	text-align: center;
}

.main_menu li {
	list-style: none;
	display: inline;
	padding: 0px 50px 0px 50px;
}

.main_menu li a:hover {
	color: #0089bd;
	outline: none;
	text-shadow: none;
	text-shadow: 1px 1px 1px #AAAAAA;
}

.main_menu li a:focus {
	color: #00AEEF;
	outline: none;
}

.main_menu li a {
	color: #6fa5bc;
	font-weight: bold;
	text-decoration: none;
}

.main_menu li.menu_active a {
	color: #a4c44d;
	text-shadow: 2px 2px 2px #fff;
}

.connection,.inscription {
	width: 400px;
	border: 1px solid #eee;
	margin: auto;
	margin-top: 80px;
	padding: 50px 20px 50px 20px;
	border: 1px solid #97b3bd;
	background: url(../img/connection.png);
}

.connection {
	background: url(../img/connection.png);
}

.inscription {
	background: url(../img/inscription.png);
}

.connection form,.inscription form {
	text-align: center;
}

#content {
	padding: 15px 35px 10px 35px;
	border: 1px solid #ccc;
	width: 50%;
	margin: 0px auto 0px auto;
	text-align: center;
}

#content2 {
	padding: 15px 35px 10px 35px;
	text-align: justify;
	border: 1px solid #ccc;
	width: 50%;
	margin: 0px auto 0px auto;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	-moz-box-shadow: 1px 1px 3px 3px #ccc;
	-webkit-box-shadow: 1px 1px 3px 3px #ccc;
	box-shadow: 1px 1px 3px 3px #ccc;
}

#content,.connection,.inscription,.profile {
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	-moz-box-shadow: 1px 1px 3px 3px #ccc;
	-webkit-box-shadow: 1px 1px 3px 3px #ccc;
	box-shadow: 1px 1px 3px 3px #ccc;
}

input,textarea {
	background-color: #fff;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	box-shadow: 0 0 2px #aaa;
	border: none;
	width: 300px;
	margin: 15px 0;
	color: #ccc;
	padding: 0 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	margin: 10px 0px 15px 0px;
	clear: both;
}

input:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
	color: #666;
}

.button {
	border: 1px solid #666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 120px;
	margin: 15px 0px 0px 0px;
	color: #555;
	background: url(../img/button.png);
	height: 30px;
	-moz-box-shadow: 0px 0px 2x 1px #888;
	-webkit-box-shadow: 0px 0px 2px 1px #888;
	box-shadow: 0px 0px 2px 1px #888;
}

.button:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.button::-moz-focus-inner {
	border: 0;
}

p.lien_competence {
	margin: 20px 0px 0px 0px;
}

p.lien_competence a {
	color: #000;
	text-decoration: none;
}

.details_perso {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

.identite {
	display: block;
	font-weight: bold;
}

.ville {
	display: block;
}

.adresse {
	display: block;
}

.telephone {
	display: block;
	font-style: italic;
}

.diplome {
	border-bottom: 4px solid #00aeef;
	margin: 35px;
	color: #444;
}

.nom_diplome {
	font-weight: bold;
	font-size: 17px;
	display: block;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #000;
}

.competence {
	margin: 5px 20px;
	padding: 10px;
}

.nom_competence {
	display: block;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px solid #ddd;
}

.competence ul {
	list-style: none;
	margin: 5px 0px 0px 0px;
	padding: 15px 0px 0px 0px;
}

.competence ul li {
	margin: 0px auto 5px auto;
	padding: 0px 0px 0px 0px;
	font-size: 17px;
	display: block;
	border-bottom: 1px solid #eee;
	width: 250px;
	height: 25px;
	background: url(../img/more.png) top right no-repeat;
}

.auth {
	text-align: center;
}

.user {
	margin-bottom: 35px;
}

.infoCompetence,.infoDocument,.infoP7S {
	margin-top: 35px;
}

.buttonLogin {
	border: 1px solid #666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 120px;
	margin: 15px 50px 0px 0px;
	color: #555;
	background: url(../img/button.png);
	height: 30px;
	float: right;
	-moz-box-shadow: 0px 0px 2x 1px #888;
	-webkit-box-shadow: 0px 0px 2px 1px #888;
	box-shadow: 0px 0px 2px 1px #888;
}

.buttonLogin:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.buttonLogin::-moz-focus-inner {
	border: 0;
}

.user {
	margin-bottom: 35px;
}

.infoCompetence,.infoDocument,.infoP7S {
	margin-top: 35px;
}

.buttonSignin {
	border: 1px solid #666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 120px;
	margin: 15px 0px 0px 50px;
	color: #555;
	background: url(../img/button.png);
	height: 30px;
	float: left;
	-moz-box-shadow: 0px 0px 2x 1px #888;
	-webkit-box-shadow: 0px 0px 2px 1px #888;
	box-shadow: 0px 0px 2px 1px #888;
}

.buttonSignin:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.buttonSignin::-moz-focus-inner {
	border: 0;
}

.quotation {
	margin-left: 30px;
	font-size: 120%;
	font-style: italic;
	text-indent: 40px;
	color: #0089bd;
}

.spacer {
	clear: both;
}

.errorMessage {
	color:#B22222;
	text-align:center;
}