<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-1.5.xsd  
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Use this for your annotation driven end point -->
	<sws:annotation-driven />
	<context:annotation-config/>

	<!-- Use this for autowired DI -->
	<context:component-scan base-package="fr.univartois.ili.sadoc" />
	<context:component-scan base-package="fr.univartois.ili.sadoc.dao" />
	<context:component-scan base-package="fr.univartois.ili.sadoc.sadocWeb" />
	<context:component-scan base-package="fr.univartois.ili.sadoc.sadocweb.spring" />
	<context:component-scan base-package="fr.univartois.ili.sadoc.entities.dao" />
	
    
    
    <tx:annotation-driven />   
	
	<bean id="defaultDaoTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
<property name="transactionManager" ref="transactionManager"/>
<property name="transactionAttributes">
<props>
<prop key="save*">PROPAGATION_REQUIRED</prop>
<prop key="create*">PROPAGATION_REQUIRED</prop>
<prop key="update*">PROPAGATION_REQUIRED</prop>
<prop key="delete*">PROPAGATION_REQUIRED</prop>
<prop key="remove*">PROPAGATION_REQUIRED</prop>
<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
</props>
</property>
</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- WSDL available at http://localhost:8080/sadocWeb/services/sadoc.wsdl -->
	<sws:dynamic-wsdl id="sadoc" portTypeName="SadocServices"
		locationUri="/services/" targetNamespace="http://sadoc.com/ac/schemas">
		<sws:xsd location="/WEB-INF/sadoc-services.xsd" />
	</sws:dynamic-wsdl>

	<sws:interceptors>
		<bean id="validatingInterceptor"
			class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor"
			p:schema="/WEB-INF/sadoc-services.xsd" p:validateRequest="true"
			p:validateResponse="true" />

		<bean id="loggingInterceptor"
			class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
	</sws:interceptors>

	<bean id="defaultMethodEndpointAdapter"
		class="org.springframework.ws.server.endpoint.adapter.DefaultMethodEndpointAdapter">
		<property name="methodArgumentResolvers">
			<list>
				<ref bean="marshallingPayloadMethodProcessor" />
			</list>
		</property>
		<property name="methodReturnValueHandlers">
			<list>
				<ref bean="marshallingPayloadMethodProcessor" />
			</list>
		</property>
	</bean>

	<bean id="marshallingPayloadMethodProcessor"
		class="org.springframework.ws.server.endpoint.adapter.method.MarshallingPayloadMethodProcessor">
		<constructor-arg ref="marshaller" />
		<constructor-arg ref="marshaller" />
	</bean>

	<!-- <bean id="endpointExceptionResolver" class="org.springframework.ws.soap.server.endpoint.SimpleSoapExceptionResolver" 
		/> -->

	<bean
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
		<description>An endpoint mapping strategy that looks for @Endpoint and
			@PayloadRoot annotations.</description>
	</bean>

	<bean id="AccountService"
		class="fr.univartois.ili.sadoc.sadocweb.wssample.AccountServiceImpl" />

	<bean id="marshaller" class="org.springframework.oxm.castor.CastorMarshaller">
		<property name="mappingLocation" value="/WEB-INF/sadoc-services-mapping.xml" />
	</bean>

	<!-- <bean id="ownerDAO" class="fr.univartois.ili.sadoc.dao.OwnerDAO" /> -->
	<!-- <bean id="ownerDAO" class="fr.univartois.ili.sadoc.dao.OwnerDAO" 
		/> -->
	
<!-- 	<bean id="ownerDAO" class="fr.univartois.ili.sadoc.entities.dao.OwnerDAO"> -->
<!-- 		<property name="entityManagerFactory" ref="entityManagerFactory" /> -->
<!-- 	</bean> -->
	
	<bean id="wsPrivate" class="fr.univartois.ili.sadoc.sadocweb.spring.WSPrivateImpl" />
	<bean id="wsPublic" class="fr.univartois.ili.sadoc.sadocweb.spring.WSPublicImpl">


	</bean>
   
   	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/sadocwebservice" />
		<property name="username" value="sadoc" />
		<property name="password" value="sadoc" />
	</bean>

	<bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>/META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="dataSource" />
	</bean>
	
		<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">

  <!-- JPA EntityManagerFactory for PostegreSQL -->
		<property name="jpaVendorAdapter">
        <bean id="jpaAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
       			 <property name="database" value="POSTGRESQL" />
                <property name="databasePlatform" value="org.eclipse.persistence.platform.database.DerbyPlatform" />
                <property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
        </bean>
		</property>
		<property name="persistenceUnitName" value="sadocjpa"/>
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
	</bean>

<!-- <bean id="entityManagerFactory" -->
<!--         class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" -->
<!--         p:dataSource-ref="dataSource" p:persistence-xml-location="/META-INF/persistence.xml" -->
<!--         p:persistence-unit-name="sadocjpa"> -->
<!-- </bean> -->

	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	
	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />
	
</beans>